.home {
  min-height: 100vh;
  background-image: url("../../../../assets/images/hero-background.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 100vh;
  min-height: 550px;
  max-height: 860px;
  color: #fff;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  background-position:top;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}


.title {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
  line-height: 1.1;
}

.subtitle {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.description {
  font-size: 1.05rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  max-width: 500px;
  line-height: 1.5;
}

.ctaButtons{
  display:flex;
  gap:1rem;
  padding-top:1rem;
}

.scrollIndicator {
  margin-top: 2rem;
  cursor: pointer;
}

.scrollIndicator span {
  font-size: 0.9rem;
  letter-spacing: 2px;
}

.scrollIndicator span::before {
  content: "•";
  margin-right: 0.5rem;
}

/* Media Queries for Responsive Design */

@media (min-width: 2560px) {
  .title {
    font-size: 5.5rem;
  }
  .subtitle {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .description {
    font-size: 1.5rem;
  }
  .scrollIndicator span {
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 2.7rem;
  }
  .description {
    font-size: 0.98rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.1rem;
  }
  .description {
    font-size: 0.93rem;
    max-width: 90vw;
  }
}

@media (max-width: 576px) {
  .heroContent {
    padding: 0 0.5rem;
  }
  .title {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
  }
  .subtitle {
    font-size: 0.95rem;
  }
  .description {
    font-size: 0.88rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 98vw;
  }
  .scrollIndicator {
    margin-top: 0.7rem;
  }
}
