.aboutSection {
  padding: var(--spacing-xxxl) var(--spacing-xxl);
  background-color: var(--page-color);
  width: 100%;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-xxl);
}

.mainContent {
  flex: 1;
  max-width: 900px;
}

.heading {
  font-size: 2.5rem;
  font-weight: 400;
  color: #333;
  line-height: 1.2;
}

.description {
  font-size: 2.5rem;
  color: #333;
  line-height: 1.4;
  font-weight: 400;
}

.sideContent {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sideText {
  font-size: 1.2rem;
  color: var(--dark-text-color);
  line-height: 1.68;
  width: 100%;
  max-width: 500px;
}

/* Media Queries for Responsive Design */
@media (min-width: 2560px) {
  .mainContent {
    max-width: 1074px;
  }

  .heading {
    font-size: 3.5rem;
  }

  .description {
    font-size: 3.5rem;
  }

  .sideText {
    font-size: 1.8rem;
    max-width: 780px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .mainContent {
    max-width: 770px;
  }

  .heading {
    font-size: 2.2rem;
  }

  .description {
    font-size: 2.2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contentWrapper {
    gap: 2rem;
  }

  .heading {
    font-size: 2rem;
  }

  .description {
    font-size: 1.5rem;
  }
  .sideText {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
    gap: 40px;
  }

  .mainContent {
    max-width: 100%;
  }

  .sideContent {
    flex: 0 0 100%;
  }

  .heading {
    font-size: 2rem;
  }

  .description {
    font-size: 1.3rem;
  }

  .sideText {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .container {
    width: 95%;
  }

  .heading {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .sideText {
    font-size: 0.9rem;
  }
}
