.footerContainer {
  background-color: var(--page-color);
  padding: var(--spacing-xl) var(--spacing-xxxl);
  border-top: 1px solid var(--dark-text-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
}

.column1 {
  align-items: flex-start;
}

.logoContainer {
  width: 100px;
}

.logoContainer img {
  width: 100%;
}

.socialLinks {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
}

.socialLinks svg {
  cursor: pointer;
}

.column2 li {
  list-style: none;
  font-size: 14px;
  cursor: pointer;
}

.column2 li:hover{
    text-decoration: underline;
}

.column3{
    align-items: flex-end;
}

.column3 p{
    font-size: 14px;
    
}
